#quienes-somos {
	display: flex;
	padding: 0 0 calc(#{$module} * 6);
	h2 {
		position: relative;
		width: 100%;
		text-align: right;
		img {
			position: absolute;
			top: 0;
		}
	}
	.left {
		padding-right: calc(#{$module} * 3);
	}
	.right {
		h3 {
			margin-bottom: calc(#{$module} * 1);
			@include font-line-height(24px);
		}
		h4 {
			margin-bottom: calc(#{$module} * 1);
		}
		p {
			margin-bottom: calc(#{$module} * 1);
			&:last-child {
				margin-bottom: 0;
			}
		}
		ul {
			margin-bottom: calc(#{$module} * 1);
			li {
				display: flex;
				align-items: center;
				svg {
					margin-right: calc(#{$module} / 8);
				}
			}
		}
	}
}
