#gestion-ayudas {
	display: flex;
	padding: 0;
	h2 {
		width: 100%;
	}
	.left {
		padding-right: calc(#{$module} * 3);
	}
	.right {
		h3 {
			margin-bottom: calc(#{$module} * 1);
			@include font-line-height(24px);
		}
		p {
			margin-bottom: calc(#{$module} * 1);
			&:last-child {
				margin-bottom: 0;
			}
		}
		ul {
			position: relative;
			z-index: 1;

			li {
				width: 100%;
				margin-bottom: calc(#{$module} * 1.5);
				font-weight: $text-normal;
				svg {
					color: map-get($theme-colors, 'primary');
					width: 15px;
					height: 15px;
					margin-right: calc(#{$module} / 6);
				}
			}
		}
	}
}
