#gestion-ayudas {
	padding: 0;
	@include breakpoint(lg) {
		padding-top: $module * 2;
	}

	h2 {
		width: 100%;
		@include breakpoint(sm-down) {
			margin-bottom: calc(#{$module} * 1);
		}
	}
	.bratic-container {
		display: flex;

		.left {
			padding-right: calc(#{$module} * 3);
			@include breakpoint(md) {
				width: calc((100% / 12) * 12);
				padding-right: calc(#{$module} * 1);
				margin-top: calc(#{$module} * 2);
			}
			@include breakpoint(sm-down) {
				display: none;
			}
		}

		.right {
			@include breakpoint(md) {
				width: calc((100% / 12) * 12);
			}
			h3 {
				margin-bottom: calc(#{$module} * 1);
				@include font-line-height($font-xl);
			}
			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
			ul {
				position: relative;
				z-index: 1;

				li {
					width: 100%;
					margin-bottom: calc(#{$module} * 1);
					font-weight: $text-normal;
					@include breakpoint(xl-down) {
						margin-bottom: calc(#{$module} * 0.75);
					}
					@include breakpoint(md-down) {
						margin-bottom: calc(#{$module} * 0.25);
					}
					&::before {
						content: '\00BB';
						color: map-get($theme-colors, 'primary');
						margin-right: calc(#{$module} / 6);
					}
				}
			}
		}
	}
}
