#gestion-ayudas {
	padding: 0;
	@include breakpoint(lg) {
		padding-top: $module * 2;
	}

	h2 {
		width: 100%;
	}
	.bratic-container {
		display: flex;
		@include breakpoint(md) {
			flex-direction: column-reverse;
		}

		.left {
			padding-right: calc(#{$module} * 3);
			@include breakpoint(md) {
				width: calc((100% / 12) * 12);
				padding: 0;
				margin-top: calc(#{$module} * 2);
			}
			@include breakpoint(sm-down) {
				display: none;
			}
		}

		.right {
			@include breakpoint(md) {
				width: calc((100% / 12) * 12);
			}
			h3 {
				margin-bottom: calc(#{$module} * 1);
				@include font-line-height($font-xl);
			}
			p {
				margin-bottom: calc(#{$module} * 1);
				@include breakpoint(md-down) {
					margin-bottom: calc(#{$module} * 0.5);
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			ul {
				position: relative;
				z-index: 1;

				li {
					width: 100%;
					margin-bottom: calc(#{$module} * 1.5);
					font-weight: $text-normal;
					@include breakpoint(lg) {
						margin-bottom: calc(#{$module} * 1);
					}
					@include breakpoint(md-down) {
						margin-bottom: calc(#{$module} * 0.5);
					}
				}
			}
		}
	}
}
