#como-trabajamos {
	padding: calc(#{$module} * 3) 0 calc(#{$module} * 8);
	@include breakpoint(lg-down) {
		padding: calc(#{$module} * 2) 0;
	}
	h2 {
		@include breakpoint(sm-down) {
			margin-bottom: calc(#{$module} * 1);
		}
	}
	.trabajos {
		display: flex;
		flex-wrap: wrap;
	}
}
