.each-card {
	@include items-grid(4, 16px);
	border: 1px solid map-get($theme-colors, 'grey');
	background-color: white;
	padding: $module;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	.title {
		width: 100%;
		font-family: $font-titles;
		@include font-line-height(30px);
		font-weight: $titles-bold;
		margin-bottom: calc(#{$module} * 0.5);
	}
	.text {
		width: 100%;
		font-family: $font-text;
		@include font-line-height($font-base);
	}
	.my-btn-more {
		align-self: flex-end;
	}
}
