$border: 1px solid map-get($theme-colors, 'light-grey');

.contact {
	padding: calc(#{$module} * 4) 0;
	background-color: white;
	overflow: hidden;
	@include breakpoint(lg) {
		padding: calc(#{$module} * 3) 0;
	}
	.bratic-container {
		.pre-title {
			color: map-get($theme-colors, 'primary');
			font-weight: $titles-bold;
			font-family: $font-titles;
			text-transform: uppercase;
			@include font-line-height($font-xl);
			@include breakpoint(md-down) {
				@include font-line-height($font-md);
			}
		}
		h2 {
			@include font-line-height(72px);
			@include breakpoint(lg) {
				@include font-line-height(62px);
			}
			@include breakpoint(md-down) {
				@include font-line-height(50px);
			}
			@include breakpoint(sm-down) {
				margin-bottom: calc(#{$module} * 1);
			}
		}
		.fix {
			display: flex;
			@include breakpoint(sm-down) {
				flex-direction: column;
			}

			.left {
				padding-right: calc(#{$module} * 2);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include breakpoint(sm-down) {
					padding-right: 0;
				}
				.red {
					font-weight: $text-semibold;
					text-transform: none;
				}
				.animated {
					@include breakpoint(sm-down) {
						align-self: center;
					}
				}
				figure {
					width: calc(#{$module} * 10);
					height: calc(#{$module} * 10);
					overflow: hidden;
					margin: 0;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						object-position: center;
					}
				}
			}
			.right {
				position: relative;
				@include breakpoint(sm-down) {
					margin-top: calc(#{$module} * 2);
				}

				&:after {
					position: absolute;
					content: '';
					width: 936px;
					height: 728px;
					background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614441484/contact-bkg.png');
					background-repeat: no-repeat;
					background-size: cover;
					top: -196px;
					z-index: 0;
					right: -100px;
					@include breakpoint(lg-down) {
						display: none;
					}
				}
				form {
					position: relative;
					z-index: 1;
					width: 100%;
					display: flex;
					flex-direction: column;
					.my-btn {
						width: 30%;
						align-self: flex-end;
						height: calc(#{$module} * 3);
						@include breakpoint(lg) {
							height: calc(#{$module} * 2.5);
						}
						@include breakpoint(md) {
							height: calc(#{$module} * 2);
						}
						&::after {
							display: none;
						}
					}
					input[type='submit'] {
						width: 100%;
						color: white;
						font-family: $font-titles;
						font-weight: 600;
						text-transform: uppercase;
						border-radius: none !important;
						border: none;
						background: none;
					}
					.input-group {
						background-color: white;
						width: 100%;
						display: flex;
						align-items: center;
						box-sizing: border-box;
						border-right: $border;
						border-left: $border;
						border-bottom: $border;
						padding: 0;
						&.text-area {
							align-items: flex-end;
							.icon {
								border-top: $border;
							}
						}
						.icon {
							width: calc(#{$module} * 3);
							height: calc(#{$module} * 3);
							@include breakpoint(lg) {
								width: calc(#{$module} * 2.5);
								height: calc(#{$module} * 2.5);
							}
							@include breakpoint(md) {
								width: calc(#{$module} * 2);
								height: calc(#{$module} * 2);
							}
							background-color: map-get($theme-colors, 'bkg');
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							border-left: $border;

							svg {
								color: map-get($theme-colors, 'secondary');
							}
						}
						&:first-child {
							border-top: $border;
						}

						input,
						textarea {
							padding: 0;
							flex-grow: 1;
							box-sizing: border-box;
							padding: calc(#{$module} / 2);
							outline: none;
							border: none;
							border-top: none;
							font-family: $font-titles;
							@include font-line-height(10px);

							&:focus,
							&:active {
								border: 1px solid map-get($theme-colors, 'primary');
							}
							&::placeholder {
								padding: 0;
							}
						}
						input {
							height: calc(#{$module} * 3);
							@include breakpoint(lg) {
								height: calc(#{$module} * 2.5);
							}
							@include breakpoint(md) {
								height: calc(#{$module} * 2);
							}
						}
						textarea {
							height: calc(#{$module} * 6);
							@include breakpoint(md) {
								height: calc(#{$module} * 3);
							}
						}
					}
					.phone-email {
						width: 100%;
						display: flex;
						@include breakpoint(md-down) {
							flex-direction: column;
						}
						.input-group {
							border-top: none;
							width: 50%;
							@include breakpoint(md-down) {
								width: 100%;
							}
							&:last-child {
								border-left: none;
								@include breakpoint(md-down) {
									border-left: $border;
								}
							}
						}
					}
					.submit-group {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						.checkbox {
							display: flex;
							align-items: center;
							label {
								text-transform: none;
								font-family: $font-titles;
								a {
									text-transform: none;
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
	}
}
