@import './[postSlug]/SinglePost.scss';
.blog-header {
	padding: calc(#{$module} * 6) 0 calc(#{$module} * 4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1 {
		@include font-line-height(48px);
	}
	> div {
		display: flex;
		select,
		input {
			width: 350px;
			margin-right: 16px;
			border-radius: 5px;
			padding: calc(#{$module} / 2);
			color: map-get($theme-colors, 'grey');
		}
		select {
			@include font-line-height($font-xs);
			color: map-get($theme-colors, 'grey');
			min-height: 16px;
			-moz-appearance: none; /* Firefox */
			-webkit-appearance: none; /* Safari and Chrome */
			appearance: none;
		}
		input {
			margin-right: 0;
		}
		.select-input {
			position: relative;
			svg {
				position: absolute;
				top: 35%;
				right: 24px;
				color: map-get($theme-colors, 'primary');
				width: 15px;
				height: 15px;
			}
		}
		.input-search {
			position: relative;
			svg {
				position: absolute;
				top: 35%;
				right: 12px;
				color: map-get($theme-colors, 'primary');
				width: 15px;
				height: 15px;
			}
		}
	}
}
.blog-grid {
	margin-bottom: calc(#{$module} * 6);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	.my-btn {
		align-self: center;
	}
	.my-btn-back {
		margin-bottom: calc(#{$module} * 2);
	}
}
.error-blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(#{$module} * 10) 0;
	.error-text {
		margin-bottom: calc(#{$module} * 1);
		text-align: center;
	}
}
.all-posts {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(#{$module} * 1);
}
