@import './[postSlug]/SinglePost.scss';
.blog-header {
	padding: calc(#{$module} * 6) 0 calc(#{$module} * 4);
	display: flex;
	justify-content: space-between;
	align-items: center;
	> div {
		display: flex;
		select,
		input {
			width: 350px;
			margin-right: 16px;
			border-radius: 5px;
			padding: calc(#{$module} / 2);
			color: map-get($theme-colors, 'grey');
		}
		select {
			@include font-line-height($font-xs);
			color: map-get($theme-colors, 'grey');
			min-height: 16px;
			-moz-appearance: none; /* Firefox */
			-webkit-appearance: none; /* Safari and Chrome */
			appearance: none;
		}
		input {
			margin-right: 0;
		}
		.select-input {
			position: relative;
			svg {
				position: absolute;
				top: 35%;
				right: 24px;
				color: map-get($theme-colors, 'primary');
				width: 15px;
				height: 15px;
			}
		}
		.input-search {
			position: relative;
			svg {
				position: absolute;
				top: 35%;
				right: 12px;
				color: map-get($theme-colors, 'primary');
				width: 15px;
				height: 15px;
			}
		}
	}
}
.error-blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: calc(#{$module} * 10) 0;
	.error-text {
		margin-bottom: calc(#{$module} * 1);
		text-align: center;
	}
}
.all-posts {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(#{$module} * 6);
}

.first-post {
	height: 450px;
	display: flex;
	background-color: white;
	margin-bottom: calc(#{$module} * 1);
	text-decoration: none;
	box-shadow: 0 0 4px 0 #d9ddde;
	cursor: pointer;
	&:hover {
		box-shadow: 0 0 8px 0 #d9ddde;
		.left {
			span {
				display: flex;
			}
			&::after {
				display: block;
			}
		}
	}

	.left {
		width: calc((100% / 12) * 8);
		height: 100%;
		overflow: hidden;
		margin-bottom: 0;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		span {
			display: none;
			align-items: center;
			justify-content: center;
			width: 100%;
			position: absolute;
			top: 45%;
			color: white;
			font-weight: 300;
			z-index: 2;
			text-transform: uppercase;
			svg {
				width: 15px;
				height: 15px;
				margin-left: calc(#{$module} / 2);
			}
		}
		&::after {
			content: '';
			background-color: map-get($theme-colors, 'secondary');
			opacity: 0.45;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			display: none;
		}
	}
	.right {
		width: calc((100% / 12) * 4);

		padding: calc(#{$module} * 1);
		h2 {
			@include font-line-height(30px);
		}
		.cat-date {
			display: flex;
			align-items: center;
			margin-bottom: calc(#{$module} / 2);
			p {
				color: map-get($theme-colors, 'grey');
				font-weight: $text-light;
				text-transform: uppercase;
				@include font-line-height(14px);
				margin-right: calc(#{$module} / 3);
			}
			.categories {
				display: flex;
				align-items: center;
				p {
					color: map-get($theme-colors, 'secondary');
				}
			}
		}
		.excerpt {
			-webkit-box-orient: vertical;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			@include font-line-height($font-xs);
			p {
				span {
					font-size: $font-sm !important;
				}
				font-size: $font-sm !important;
			}
			a {
				display: inline-block;
			}
		}
	}
}
