.metodologia {
	padding: calc(#{$module} * 4) 0;
	display: flex;
	flex-direction: column;
	.my-btn {
		align-self: flex-end;
	}
	h2 {
		margin-bottom: calc(#{$module} * 5);
	}
	.time-line {
		position: relative;
		height: 96px;
		border-top: 1px solid map-get($theme-colors, 'grey');
		width: calc((100% / 12) * 8);
		.number {
			border: 1px solid map-get($theme-colors, 'primary');
			background-color: white;
			width: 96px;
			height: 96px;
			position: absolute;
			bottom: 48px;
			&:first-child {
				left: 0;
			}
			&:nth-child(2n) {
				left: 460px;
			}
			&:last-child {
				right: -96px;
			}
			p {
				font-size: 48px;
				line-height: 96px;
				font-family: $font-titles;
				font-weight: $titles-bold;
				text-align: center;
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}
	}
	.descriptions {
		display: flex;
		justify-content: space-between;
		.each {
			width: calc((100% / 12) * 4);
			padding-right: $module;
			ul {
				margin-top: calc(#{$module}* 1);
				li {
					@include font-line-height($font-lg);
					margin-bottom: calc(#{$module} / 1.5);
					font-weight: $text-light;
					svg {
						color: map-get($theme-colors, 'primary');
						width: 15px;
						height: 15px;
						margin-right: calc(#{$module} / 6);
					}
				}
			}
			p {
				margin-top: calc(#{$module}* 1);
				@include font-line-height($font-lg);
				font-weight: $text-light;

				span {
					font-weight: $text-bold;
					color: map-get($theme-colors, 'primary');
				}
			}
		}
	}
}
