@import './ServicesPage/Services.scss';

#services-section {
	padding: calc(#{$module} * 4) 0;
	@include breakpoint(md) {
		padding: calc(#{$module} * 2) 0 calc(#{$module} * 1);
	}
	@include breakpoint(sm-down) {
		padding: 0;
	}
	.bratic-container {
		display: flex;
		.all-cards {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
