#services-page-section {
	padding: calc(#{$module} * 6) 0;

	@include breakpoint(md) {
		padding: calc(#{$module} * 2) 0 calc(#{$module} * 1);
	}
	@include breakpoint(sm-down) {
		padding: calc(#{$module} * 2) 0;
	}
	.bratic-container {
		display: flex;
		flex-wrap: wrap;
	}
}
