.servicios-card {
	position: relative !important;
	padding: calc(#{$module} * 3) $module calc(#{$module} * 1);
	background-color: map-get($theme-colors, 'bkg');
	z-index: 0;
	@include breakpoint(lg-up) {
		@include items-grid(4, 16px);
	}
	@include breakpoint(md) {
		@include items-grid(2, $module);
	}
	@include breakpoint(sm-down) {
		@include items-grid(1, $module * 2);
		padding-left: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	article {
		display: flex;
		flex-direction: column;
		align-items: center;
		@include breakpoint(sm-down) {
			align-items: flex-start;
		}
		span {
			width: 100%;
			height: 100%;
			z-index: 0;
			position: absolute;
			background-repeat: no-repeat;
			background-size: 80%;
			background-position-x: -50%;
			background-position-y: -5%;
			top: 0;
			@include breakpoint(md) {
				background-size: 70%;
				background-position-x: -10%;
			}
			@include breakpoint(sm) {
				background-size: 50%;
				background-position-x: -10%;
			}
			@include breakpoint(xs) {
				background-size: 60%;
				background-position-x: -10%;
			}
			@include breakpoint(xxs-down) {
				background-size: 80%;
			}
		}
	}
	h2 {
		position: relative;
		z-index: 1;
		@include font-line-height(30px);
		text-align: center;
		width: 100%;
		background-color: white;
		padding: calc(#{$module} / 6);
		@include breakpoint(xl) {
			@include font-line-height($font-xl);
		}
		@include breakpoint(lg) {
			@include font-line-height(20px);
		}
	}
	.features {
		ul {
			position: relative;
			z-index: 1;
			@include breakpoint(xxl) {
				margin-top: 150px;
			}
			@include breakpoint(xl) {
				margin-top: 60px;
			}
			@include breakpoint(lg) {
				margin-top: 30px;
			}
			@include breakpoint(md) {
				margin-top: 90px;
			}
			@include breakpoint(sm-down) {
				padding-left: $module;
			}
			li {
				width: 100%;
				margin-bottom: calc(#{$module} * 1);

				font-weight: $text-light;
				@include breakpoint(xl-down) {
					margin-bottom: calc(#{$module} / 3);
				}
				@include breakpoint(md-down) {
					margin-bottom: calc(#{$module} / 2);
				}
				&::before {
					content: '\00BB';
					color: map-get($theme-colors, 'text');
					margin-right: calc(#{$module} / 6);
				}
			}
		}
	}
	&:hover {
		span {
			&.consultoria {
				background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614447989/illustration-digital-hover.svg') !important;
			}
			&.industria {
				background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614511385/illustration-industry-hover.svg') !important;
			}
			&.ciberseguridad {
				background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614511385/illustration-cibersecurity-hover.svg') !important;
			}
			&.formacion {
				background-image: url('https://res.cloudinary.com/bratic-app/image/upload/v1614511385/illustration-formation-hover.svg') !important;
			}
		}
		.features {
			ul {
				li {
					&::before {
						color: map-get($theme-colors, 'primary');
					}
				}
			}
		}

		svg {
			color: map-get($theme-colors, 'primary');
		}
	}
}
